.parent{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

}
.child{
	width: 25%;
	border: 1px ridge blue;
	padding: 1%;
	margin: 1%;
	text-align: center;
	box-shadow: 0px 30px 30px 8px #ddd;
	border-radius: 10px 0px;
	height: 350px;

}
.role{
	color: black;
}
.profile{
	width: 200px;
	border-radius: 50%;
	border:1px solid blue;
}
.link{
	margin: 1%;
	text-decoration: none;
	font-size: 18px;
	color: red;

}

.info{
	width: 10%;

}
.contact{
	text-align: left;
}

.socialicon{
	width: 10%;
}
ul li{
	font-size: 18px;
ul{
	list-style-type: circle;
}
}
table{
	width: 100%;
}
thead{
	background: #000;
	color: #fff;
	padding: 1%;
}
tbody tr:nth-child(odd){
	background: #ddd;

}
.child2 span{
	 border-radius: 10px;
	 border:1px solid #5d6d7e;
	 border-color: #ddd;
	 padding: 1%;
	 margin: 1%;
	 box-shadow: 0px 8px 8px -8px #000;


}
.table-responsive{
	overflow-x: auto;
}
.child2{
	width: 60%;
	margin: 1%;
	padding: 1%;
	border: 1px solid #ddd;
	box-shadow:0px 8px 8px -8px #000;
}